---
title: "00experimenteOPM"
format: html
---

# Test pyspotstream

* This is a simple test to check whether:
  * `pyspotstream` is installed
  * the `OPM` data set can be downloaded to the local disk
  * If successful, data can be loaded and the CSV file `open_data.csv` is available.

In [1]:
from pyspotstream.data.OPM import get_opm, load_opm

## Download OPM Data

In [2]:
get_opm(overwrite=False)

File opm_data.csv already exists. To enforce download, set 'overwrite=True'.

## Load OPM

In [3]:
X_train, y_train = load_opm(data_type="num", n=10000, sorted=True, verbose=False)
y_train = y_train.squeeze()  # necessary because Y is a one column df

/Users/bartz/miniforge3/envs/spotCondaEnv/lib/python3.10/site-packages/pyspotstream/data/OPM.py:43: DtypeWarning: Columns (8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, date_parser=dateparse)

## Quick Look at the Data

In [4]:

X_train.describe()

,List Year,Assessed Value,Sales Ratio,timestamp_rec,lat,lon
count,10000.0000,1.000000e+04,10000.000000,1.000000e+04,10000.000000,10000.000000
mean,2001.0005,1.327557e+05,1.264403,1.004555e+09,-14.464445,6.963008
std,0.0500,2.841702e+05,10.161839,1.731463e+06,28.050098,16.588739
min,2001.0000,2.000000e+03,0.004935,1.001887e+09,-73.597221,-1.000000
25%,2001.0000,6.020000e+04,0.476800,1.003097e+09,-1.000000,-1.000000
50%,2001.0000,8.946000e+04,0.548616,1.004483e+09,-1.000000,-1.000000
75%,2001.0000,1.365775e+05,0.644675,1.006124e+09,-1.000000,-1.000000
max,2006.0000,1.393871e+07,464.549988,1.007420e+09,-1.000000,42.040852

In [5]:
y_train.describe()

count    1.000000e+04
mean     2.249869e+05
std      3.972714e+05
min      2.000000e+03
25%      1.019750e+05
50%      1.560000e+05
75%      2.525000e+05
max      2.070502e+07
Name: Sale Amount, dtype: float64